body{
    background-color: lavender;
    width: 800px;
    margin: 20px auto;
    align-content: center;
}

.textArea{
    height: 10em;
    width: 48em;
    resize: none;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}

.keyboard{
    background-color: #555079;
    height: 80%;
    width: 90%;
    margin: 50px auto;
    border-radius: 8px;
}

.key, .backspace, .tab, .capsLock, .enter, .shift, .alt, .space , .delete, .ctrlRight{
    display: inline-flex;
    height: 40px;
    width: 40px;
    margin: 4px;
    background-color: #aac8ff;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.backspace{
    width: 88px;
}

.tab{
    width: 56px;
}

.capsLock{
    width: 67px;
    font-size: 13px;
}

.delete{
    width: 61px;
}

.enter{
    width: 72px;
}
.shift{
    width: 88px;
}
.alt{
    width: 50px;
}
.space{
    width: 346px;
}
.ctrlRight{

}
.press{
    background-color: yellow;
    animation: pressing 0.5s;
}

.key:hover, .backspace:hover, .tab:hover, .capsLock:hover, .enter:hover, .shift:hover, .alt:hover, .space:hover, .delete:hover, .ctrlRight:hover {
    background-color: #6471ed;
}
.image{
    height: 31%;
}

@keyframes pressing {
    0%{
        border-radius: 5px;
        position: relative;
        top: 0px;
    }
    10%{
        border-radius: 5px;
        position: relative;
        top: 5px;
    }
    50%{
        position: relative;
        top: 0px;
    }
    100%{
        position: relative;
        top: 0px;
    }
}